@import '../../../../assets/styles/main.scss';

.articles-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-left: 20px;
    overflow-y: auto;
    height: calc(100vh - 40px);

    .card {
        margin-left: 20px;
        margin-top: 10px;
        cursor: pointer;
    }
}