<div class="create-global">
    <h2 class="title">Nouvel Article</h2>
    <form [formGroup]="articleFormGroup">
        <div class="block-input">
            <label class="label" for="name">Nom</label>
            <input formControlName="name" class="input" id="name" type="text">
        </div>
        <div class="block-input">
            <label class="label" for="price">Prix</label>
            <input formControlName="price" class="input" id="price" type="number">
        </div>
    </form>
    <button class="btn btn-save" (click)="onSave()">Sauvegarder</button>
</div>
