<div class="global-card">
    <div class="content-name">
        <h2 class="name">{{ article.nom }}</h2>
    </div>
    <div class="content-price">
        <p class="price">{{ article.prix }} €</p>
    </div>
</div>
