@import '../../../../assets/styles/main.scss';

.global-card {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 200px;
    border: $custom-orange solid 3px;

    .content-name {
        height: 160px;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .name {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            text-align: center;
            color: $custom-orange;
            font-weight: 500;
        }
    }

    .content-price {
        height: 40px;
        width: 101%;
        background-color: $custom-orange;
        margin-left: -1px;

        .price {
            color: white;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: 22px;
            font-weight: 600;
            width: 100%;
            text-align: center;
            margin-top: 5px;
            flex: 1;
        }
    }


}