@import '../../../assets/styles/main.scss';

.menu-global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    
    .title {
        color: white;
        font-family: "Pacifico", cursive;
        font-weight: 500;
        text-align: center;
    }

    .links {
        display: flex;
        flex-direction: column;
        margin-top: 40px;

        .menu-item {
            width: 100%;
            height: 40px;
            margin-top: 20px;

            .link {
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                color: white;
                font-size: 16px;
                font-weight: 500;
                width: calc(100% - 10px);
                height: 100%;
                display: block;
                padding-left: 10px;
                padding-top: 15px;
            }

            .active-link {
                color: white;
                background-color: $custom-orange;
            }
        }
    }

    .menu-add {
        height: 50px;
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        .btn-add {
            margin-bottom: 10px;
            background-color: $custom-orange;
        }
    }
}