<div class="menu-global">
    <h1 class="title">Boutique</h1>
    <div class="links">
        <div class="menu-item">
            <a routerLink="/articles" class="link" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active-link">Articles</a>
        </div>
        <div class="menu-item">
            <a routerLink="/commandes" class="link" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active-link">Commandes</a>
        </div>
    </div>
    <div class="menu-add">
        <button (click)="btnAddClick()" class="btn btn-add">{{ buttonText }}</button>
    </div>
</div>