@import '../assets/styles/main.scss';

.global {
    display: flex;
    height: 100vh;
    width: 100vw;

    .menu {
        height: 100%;
        width: 200px;
        background-color: $custom-black;
    }

    .content {
        background-color: $custom-whitegrey;
        flex: 1;
    }
}