@import '../../../../assets/styles/main.scss';

.details-global {
    padding-left: 30px;
    padding-top: 30px;

    .item {
        display: flex;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

        .title {
            color: $custom-orange;
            font-weight: 600;
            margin-right: 5px;
        }

        p {
            margin-top: 0;
        }
    }
}