<div class="details-global">
    <div class="item">
        <p class="title">Id :</p>
        <p>{{ article ? article.id : 0}}</p>
    </div>
    <div class="item">
        <p class="title">Nom :</p>
        <p>{{ article.nom }}</p>
    </div>
    <div class="item">
        <p class="title">Prix :</p>
        <p>{{ article.prix }} €</p>
    </div>
</div>
