@import '../../../../assets/styles/main.scss';

.create-global {
 
    padding-left: 30px;

    .title {
        font-size: 26px;
        color: $custom-orange;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
    }

    .btn-save {
        margin-top: 15px;
    }
}
