<div class="create-global">
    <h2 class="title">Nouvel Article</h2>
    <form [formGroup]="commandFormGroup">
        <div class="block-input">
            <label class="label" for="productId">Numéro de produit</label>
            <input formControlName="productId" class="input" id="productId" type="number">
        </div>
        <div class="block-input">
            <label class="label" for="commandPrice">Prix de la commande</label>
            <input formControlName="commandPrice" class="input" id="commandPrice" type="number">
        </div>
        <div class="block-input">
            <label class="label" for="quantity">Quantité</label>
            <input formControlName="quantity" class="input" id="quantity" type="number">
        </div>
    </form>
    <button class="btn btn-save" (click)="onSave()">Sauvegarder</button>
</div>
