@import '../../../../assets/styles/main.scss';

.command-list {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    overflow-y: auto;
    height: calc(100vh - 40px);

    .item {
        margin-top: 10px;
        margin-left: 20px;
        margin-right: 20px;
    }
}