@import './variables.scss';

.btn {
    padding: 8px 15px;
    border: none;
    font-size: 14px;
    background-color: $custom-orange;
    color: white;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}