@import './variables.scss';

.block-input {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 15px;

    .label {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 12px;
    }

    .input {
        padding: 5px;
        border-radius: 3px;
        border: $custom-orange solid 2px;
    }
}