@import '../../../../assets/styles/main.scss';

.item {
    display: flex;
    height: 50px;
    width: 100%;
    border: $custom-orange solid 3px;

    .element {
        width: 200px;
        height: 102%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -1px;
        margin-left: -1px;

        .text {
            color: $custom-orange;
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-family: 14px;
        }   
    }

    .custom-element-id {
        background-color: $custom-orange;
        width: 150px !important;
    }
    
    .custom-element-date {
        width: 280px !important;
    }


    .custom-text-id {
        color: white !important;
        font-weight: 700;
    }
}