<div class="item">
    <div class="element custom-element-id">
        <p class="text custom-text-id">Commande n°{{ command.id }}</p>
    </div>
    <div class="element">
        <p class="text"> Article n°{{ command.productId }} </p>
    </div>
    <div class="element">
        <p class="text"> Prix de la commande : {{ command.commandPrice }} € </p>
    </div>
    <div class="element">
        <p class="text">{{ command.quantity }} Eléments</p>
    </div>
    <div class="element custom-element-date">
        <p class="text"> Date de la commande : {{ command.commandDate| date: 'dd/MM/yyyy'}}</p>
    </div>
</div>
